.btn {
  border-width: 2px;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Rethink Sans;
}
.display-1 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 7.75rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6875rem;
}
.display-2 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.17;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.55;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 2.25rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 2.8125rem;
}
.display-7 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 1.75rem;
  line-height: 1.286;
}
.display-7 > .mbr-iconfont {
  font-size: 2.1875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.425rem;
    font-size: calc( 3.3625rem + (7.75 - 3.3625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.3625rem + (7.75 - 3.3625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.4rem;
    font-size: calc( 1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #060606 !important;
}
.bg-success {
  background-color: #2e96ff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #dcb300 !important;
}
.bg-danger {
  background-color: #dc5400 !important;
}
.btn-primary {
  background: linear-gradient(90deg, #060606, #060606 65%, #393939) !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #060606 !important;
  border-color: #060606 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #202020 !important;
  border-color: #202020 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #202020 !important;
  border-color: #202020 !important;
}
.btn-secondary {
  background: linear-gradient(90deg, #0844ff, #0844ff 65%, #6e91ff) !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #0844ff !important;
  border-color: #0844ff !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #3b6bff !important;
  border-color: #3b6bff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #3b6bff !important;
  border-color: #3b6bff !important;
}
.btn-info {
  background: linear-gradient(90deg, #ffffff, #ffffff 65%, #ffffff) !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success {
  background: linear-gradient(90deg, #2e96ff, #2e96ff 65%, #94c9ff) !important;
}
.btn-success,
.btn-success:active {
  background-color: #2e96ff !important;
  border-color: #2e96ff !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #61b0ff !important;
  border-color: #61b0ff !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #61b0ff !important;
  border-color: #61b0ff !important;
}
.btn-warning {
  background: linear-gradient(90deg, #dcb300, #dcb300 65%, #ffdc43) !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #dcb300 !important;
  border-color: #dcb300 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffd210 !important;
  border-color: #ffd210 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffd210 !important;
  border-color: #ffd210 !important;
}
.btn-danger {
  background: linear-gradient(90deg, #dc5400, #dc5400 65%, #ff8b43) !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #dc5400 !important;
  border-color: #dc5400 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ff6b10 !important;
  border-color: #ff6b10 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff6b10 !important;
  border-color: #ff6b10 !important;
}
.btn-white {
  background: linear-gradient(90deg, #ffffff, #ffffff 65%, #ffffff) !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black {
  background: linear-gradient(90deg, #232323, #232323 65%, #565656) !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #060606;
  color: #060606;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #060606 !important;
  border-color: #060606 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #0844ff;
  color: #0844ff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #002bb0 !important;
  background-color: transparent !important;
  border-color: #002bb0 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0844ff !important;
  border-color: #0844ff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #2e96ff;
  color: #2e96ff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #006bd6 !important;
  background-color: transparent !important;
  border-color: #006bd6 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2e96ff !important;
  border-color: #2e96ff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #dcb300;
  color: #dcb300;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #856c00 !important;
  background-color: transparent !important;
  border-color: #856c00 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #dcb300 !important;
  border-color: #dcb300 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #dc5400;
  color: #dc5400;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #853300 !important;
  background-color: transparent !important;
  border-color: #853300 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #dc5400 !important;
  border-color: #dc5400 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #060606 !important;
}
.text-secondary {
  color: #0844ff !important;
}
.text-success {
  color: #2e96ff !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #dcb300 !important;
}
.text-danger {
  color: #dc5400 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #0027a1 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0063c7 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #766000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #762d00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #060606;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #dcb300;
}
.alert-danger {
  background-color: #dc5400;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #060606;
  border-color: #060606;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #060606;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b9b9b9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fafcff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffefa9;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffcaa9;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 1.75rem;
  line-height: 1.286;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.1875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #060606 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 1.75rem;
  line-height: 1.286;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.1875rem;
}
blockquote {
  border-color: #060606;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #060606;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #060606;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #060606;
  border-bottom-color: #060606;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #060606 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #0844ff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23060606' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  padding: 8px 16px;
  border-radius: 50px !important;
  font-weight: 400 !important;
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 85%;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  transform: scale(1.04);
}
.mbr-section-btn .btn:hover .mbr-iconfont,
.mbr-section-btn-main .btn:hover .mbr-iconfont,
.mbr-section-btn .btn:focus .mbr-iconfont,
.mbr-section-btn-main .btn:focus .mbr-iconfont {
  transform: translateX(2px);
}
.mbr-section-btn .btn-primary,
.mbr-section-btn-main .btn-primary,
.mbr-section-btn .btn-secondary,
.mbr-section-btn-main .btn-secondary,
.mbr-section-btn .btn-success,
.mbr-section-btn-main .btn-success,
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info,
.mbr-section-btn .btn-warning,
.mbr-section-btn-main .btn-warning,
.mbr-section-btn .btn-danger,
.mbr-section-btn-main .btn-danger,
.mbr-section-btn .btn-black,
.mbr-section-btn-main .btn-black,
.mbr-section-btn .btn-white,
.mbr-section-btn-main .btn-white {
  border: none !important;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline,
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline,
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline,
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline,
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline,
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline,
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline,
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline {
  border-width: 1px !important;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.slide-content,
.item-wrap,
.mbr-figure {
  border-radius: 24px !important;
}
.icon-wrap {
  border-radius: 16px;
}
.item-number img {
  border-radius: 16px !important;
}
.item-number {
  border-radius: 16px;
}
.form-control {
  border-radius: 8px !important;
}
.nav.nav-tabs .nav-item .nav-link {
  border-radius: 8px !important;
}
.nav.nav-tabs .nav-item {
  border-radius: 8px !important;
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-v9QGVGoG8E {
  z-index: 1000;
  width: 100%;
}
.cid-v9QGVGoG8E nav.navbar {
  position: fixed;
}
.cid-v9QGVGoG8E .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-v9QGVGoG8E .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: none;
}
@media (max-width: 992px) {
  .cid-v9QGVGoG8E .dropdown-menu {
    text-align: center;
  }
}
.cid-v9QGVGoG8E .dropdown-item {
  border: 1px solid #2e96ff;
  background: #000000 !important;
  color: #ffffff !important;
}
.cid-v9QGVGoG8E .dropdown-item:hover,
.cid-v9QGVGoG8E .dropdown-item:focus {
  background: #000000 !important;
}
.cid-v9QGVGoG8E .dropdown-item:hover span {
  color: white;
}
.cid-v9QGVGoG8E .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-v9QGVGoG8E .dropdown-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-v9QGVGoG8E .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-v9QGVGoG8E .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-v9QGVGoG8E .nav-link {
  position: relative;
}
.cid-v9QGVGoG8E .container {
  display: flex;
  margin: 0 auto;
  max-width: 1208px;
}
@media (min-width: 992px) {
  .cid-v9QGVGoG8E .container {
    flex-wrap: nowrap;
  }
}
.cid-v9QGVGoG8E .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.cid-v9QGVGoG8E .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-v9QGVGoG8E .dropdown-menu,
.cid-v9QGVGoG8E .navbar.opened {
  background: #000000 !important;
}
.cid-v9QGVGoG8E .nav-item:focus,
.cid-v9QGVGoG8E .nav-link:focus {
  outline: none;
}
.cid-v9QGVGoG8E .dropdown .dropdown-menu .dropdown-item {
  width: fit-content;
  transition: all 0.25s ease-in-out;
  display: inline-flex;
}
.cid-v9QGVGoG8E .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-v9QGVGoG8E .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-v9QGVGoG8E .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-v9QGVGoG8E .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-v9QGVGoG8E .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 1px 2rem 1px 12px;
  transition: none;
  margin: 0 !important;
}
.cid-v9QGVGoG8E .navbar {
  min-height: 110px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(0, 0, 0, 0);
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
@media (max-width: 992px) {
  .cid-v9QGVGoG8E .navbar {
    min-height: 80px;
  }
}
.cid-v9QGVGoG8E .navbar.opened {
  transition: all 0.3s;
}
.cid-v9QGVGoG8E .navbar .dropdown-item {
  padding: 1px 2rem 1px 12px;
  border-radius: 0;
  font-weight: 400;
}
.cid-v9QGVGoG8E .navbar .navbar-logo img {
  width: auto;
  border-radius: 6px !important;
}
.cid-v9QGVGoG8E .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-v9QGVGoG8E .navbar.collapsed {
  justify-content: center;
}
.cid-v9QGVGoG8E .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-v9QGVGoG8E .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-v9QGVGoG8E .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4rem);
  }
}
.cid-v9QGVGoG8E .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-v9QGVGoG8E .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-v9QGVGoG8E .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
  right: .8rem;
}
.cid-v9QGVGoG8E .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-v9QGVGoG8E .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 1px 2rem 1px 12px;
  text-align: center;
}
.cid-v9QGVGoG8E .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-v9QGVGoG8E .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-v9QGVGoG8E .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-v9QGVGoG8E .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-v9QGVGoG8E .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-v9QGVGoG8E .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
    right: .8rem;
  }
  .cid-v9QGVGoG8E .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-v9QGVGoG8E .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-v9QGVGoG8E .navbar .dropdown-menu .dropdown-item {
    padding: 1px 2rem 1px 12px;
    text-align: center;
  }
  .cid-v9QGVGoG8E .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0.5rem;
    max-width: 80%;
  }
  .cid-v9QGVGoG8E .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-v9QGVGoG8E .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-v9QGVGoG8E .navbar.navbar-short {
  min-height: 96px;
}
.cid-v9QGVGoG8E .navbar.navbar-short .navbar-brand {
  min-height: 96px;
}
.cid-v9QGVGoG8E .navbar-brand {
  min-height: 96px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word !important;
  z-index: 1;
  word-wrap: break-word !important;
  white-space: normal;
}
@media (max-width: 992px) {
  .cid-v9QGVGoG8E .navbar-brand {
    min-height: 80px;
  }
}
.cid-v9QGVGoG8E .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-v9QGVGoG8E .navbar-brand .navbar-caption:hover,
.cid-v9QGVGoG8E .navbar-brand .navbar-caption:focus {
  color: #2e96ff !important;
}
.cid-v9QGVGoG8E .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-v9QGVGoG8E .navbar.opened .navbar-brand .navbar-caption:hover,
.cid-v9QGVGoG8E .navbar.opened .navbar-brand .navbar-caption:focus {
  color: #ffffff !important;
}
.cid-v9QGVGoG8E .dropdown-item.active,
.cid-v9QGVGoG8E .dropdown-item:active {
  background-color: transparent;
}
.cid-v9QGVGoG8E .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-v9QGVGoG8E .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-v9QGVGoG8E .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-v9QGVGoG8E .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
  top: 3rem;
  border-radius: 0;
}
@media (max-width: 992px) {
  .cid-v9QGVGoG8E .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    top: 0;
    padding-top: 4px;
  }
}
.cid-v9QGVGoG8E .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 0;
  border-left: 1px solid transparent;
}
.cid-v9QGVGoG8E .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-v9QGVGoG8E ul.navbar-nav {
  position: relative;
  flex-wrap: wrap;
  animation: none !important;
}
@media (min-width: 991px) {
  .cid-v9QGVGoG8E ul.navbar-nav {
    padding: 0 24px;
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
}
.cid-v9QGVGoG8E ul.navbar-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 2px solid #2e96ff;
  border-radius: 2rem;
  -webkit-mask: linear-gradient(160deg, #000000 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0) 69%, #000000 100%);
  mask: linear-gradient(160deg, #000000 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0) 69%, #000000 100%);
}
.cid-v9QGVGoG8E .navbar-buttons {
  text-align: center;
}
.cid-v9QGVGoG8E .navbar-buttons .btn {
  white-space: nowrap;
  margin-right: 0;
  min-height: auto;
}
@media (max-width: 575px) {
  .cid-v9QGVGoG8E .navbar-buttons .btn {
    width: auto !important;
  }
}
.cid-v9QGVGoG8E button.navbar-toggler {
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  border-radius: 100%;
  background-color: #000000 !important;
  border: none !important;
  box-shadow: none !important;
}
.cid-v9QGVGoG8E button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-v9QGVGoG8E button.navbar-toggler .hamburger span:nth-child(1) {
  top: 18px;
  left: 15px;
  transition: all 0.2s;
}
.cid-v9QGVGoG8E button.navbar-toggler .hamburger span:nth-child(2) {
  left: 15px;
  top: 24px;
  transition: all 0.15s;
}
.cid-v9QGVGoG8E button.navbar-toggler .hamburger span:nth-child(3) {
  left: 15px;
  top: 24px;
  transition: all 0.15s;
}
.cid-v9QGVGoG8E button.navbar-toggler .hamburger span:nth-child(4) {
  left: 15px;
  top: 30px;
  transition: all 0.2s;
}
.cid-v9QGVGoG8E nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-v9QGVGoG8E nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-v9QGVGoG8E nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-v9QGVGoG8E nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-v9QGVGoG8E .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-v9QGVGoG8E a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-v9QGVGoG8E .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-v9QGVGoG8E .navbar {
    height: 70px;
  }
  .cid-v9QGVGoG8E .navbar.opened {
    height: auto;
  }
  .cid-v9QGVGoG8E .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-v9QGVGoG8E .navbar-nav {
  margin: 0 auto;
  justify-content: flex-end;
  margin: 0;
}
.cid-v9QGVGoG8E .nav-item {
  padding: 0;
  margin: 0;
}
.cid-v9QGVGoG8E .nav-item .nav-link {
  padding: 0 !important;
  margin: 15px 14px !important;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}
.cid-v9QGVGoG8E .nav-item .nav-link::after {
  color: #2e96ff !important;
  transform: rotate(0);
  transition: .3s;
}
.cid-v9QGVGoG8E .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px !important;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.cid-v9QGVGoG8E .nav-item .nav-link:hover,
.cid-v9QGVGoG8E .nav-item .nav-link:focus {
  background-color: transparent;
  color: #ffffff !important;
}
.cid-v9QGVGoG8E .nav-item .nav-link:hover::after,
.cid-v9QGVGoG8E .nav-item .nav-link:focus::after {
  color: #ffffff !important;
}
.cid-v9QGVGoG8E .nav-item .nav-link:hover::before,
.cid-v9QGVGoG8E .nav-item .nav-link:focus::before {
  width: 100%;
  right: auto;
  left: 0;
}
.cid-v9QGVGoG8E .nav-item .nav-link.show::after {
  transform: rotate(180deg);
}
.cid-v9QGVGoG8E .nav-item .dropdown-menu {
  background-color: transparent !important;
}
.cid-v9QGVGoG8E .nav-item .dropdown-menu:hover {
  background-color: transparent !important;
}
.cid-v9QGVGoG8E .nav-item .dropdown-menu .dropdown-item {
  color: #ffffff !important;
}
.cid-v9QGVGoG8E .nav-item .dropdown-menu .dropdown-item:hover,
.cid-v9QGVGoG8E .nav-item .dropdown-menu .dropdown-item:focus {
  color: #2e96ff !important;
}
@media (max-width: 991px) {
  .cid-v9QGVGoG8E .navbar {
    justify-content: flex-start !important;
  }
  .cid-v9QGVGoG8E .navbar.opened {
    min-height: 100vh !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .cid-v9QGVGoG8E .navbar-collapse {
    padding: 20px 0 3rem;
  }
  .cid-v9QGVGoG8E .navbar-collapse .navbar-nav {
    width: 100%;
    margin-bottom: 24px;
  }
  .cid-v9QGVGoG8E .navbar-collapse .nav-item {
    width: auto;
    margin: 0;
    display: inline-flex;
  }
  .cid-v9QGVGoG8E .navbar-collapse .nav-item:not(:first-child) {
    border-top: none;
  }
  .cid-v9QGVGoG8E .navbar-collapse .nav-item .nav-link {
    padding: 14px !important;
    justify-content: center;
  }
}
.cid-v9QGVGoG8E .dropdown {
  display: inline-flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-v9QGVGoG8E .dropdown {
    text-align: center;
    display: block !important;
  }
}
.cid-v9QGVGoG8E .content-wrap {
  min-height: 110px;
}
@media (max-width: 992px) {
  .cid-v9QGVGoG8E .content-wrap {
    min-height: 80px;
  }
}
.cid-ufFCEXcy3N {
  background-color: #060606;
  overflow: hidden;
}
.cid-ufFCEXcy3N::before {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: linear-gradient(90deg, #3b6bff 10%, #0844ff 25%, #000000 100%);
  filter: blur(150px);
  pointer-events: none;
}
.cid-ufFCEXcy3N::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(transparent 0, #060606 100%);
  pointer-events: none;
}
.cid-ufFCEXcy3N .content-wrapper .logo-wrapper {
  margin-bottom: 0px;
}
.cid-ufFCEXcy3N .content-wrapper .logo-wrapper img {
  display: inline-flex;
  width: 118px;
  height: 118px;
  object-fit: contain;
  border-radius: 0 !important;
}
.cid-ufFCEXcy3N .content-wrapper .mbr-section-title {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .content-wrapper .mbr-section-title {
    margin-bottom: 48px;
  }
}
.cid-ufFCEXcy3N .content-wrapper .text-wrapper {
  margin-top: 100px;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .content-wrapper .text-wrapper {
    margin-top: 48px;
  }
}
.cid-ufFCEXcy3N .content-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-ufFCEXcy3N .content-wrapper .text-wrapper .mbr-text span {
  background: linear-gradient(90deg, #3b6bff, #6e92ff 65%, #a1b8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-ufFCEXcy3N .content-wrapper .mbr-section-btn {
  margin-top: 0px;
}
.cid-ufFCEXcy3N .slider-wrapper {
  display: flex;
  justify-content: center;
}
.cid-ufFCEXcy3N .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .cid-ufFCEXcy3N .embla__slide {
    min-width: 100%;
    max-width: 100%;
  }
}
.cid-ufFCEXcy3N .embla__slide:hover .slide-content,
.cid-ufFCEXcy3N .embla__slide:focus .slide-content {
  border: 2px solid #078efb;
  background-color: #078efb;
}
.cid-ufFCEXcy3N .embla__slide .slide-content {
  width: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper {
  padding: 12px;
  background-color: #121212;
  border: 1px solid #252525;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper {
    display: block;
    padding: 16px;
  }
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-img {
  width: 34%;
  margin-right: 16px;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-img img {
  height: 115px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-img img {
    height: 180px;
  }
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-img a {
  display: block;
  width: 100%;
  height: 100%;
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content {
  width: 66%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content {
    width: 100%;
    display: block;
  }
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content .text-wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content .text-wrap .item-title {
  margin-bottom: 4px;
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content .text-wrap .item-text {
  margin-bottom: 0;
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content .icon-wrapper {
  min-width: 24px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content .icon-wrapper {
    min-width: auto;
  }
}
.cid-ufFCEXcy3N .embla__slide .slide-content .item-wrapper .item-content .icon-wrapper .mbr-iconfont {
  font-size: 24px;
  color: #078efb;
}
.cid-ufFCEXcy3N .embla__button--next,
.cid-ufFCEXcy3N .embla__button--prev {
  display: flex;
}
.cid-ufFCEXcy3N .embla__button {
  bottom: 0;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #252525 !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  display: none;
}
.cid-ufFCEXcy3N .embla__button:hover {
  transform: scale(1.05);
}
.cid-ufFCEXcy3N .embla__button.embla__button--prev {
  left: 0;
}
.cid-ufFCEXcy3N .embla__button.embla__button--next {
  right: 0;
}
.cid-ufFCEXcy3N .embla {
  position: relative;
  width: 50%;
}
@media (max-width: 992px) {
  .cid-ufFCEXcy3N .embla {
    width: 100%;
  }
}
.cid-ufFCEXcy3N .embla__viewport {
  overflow: hidden;
  width: 100%;
  margin-right: 1rem;
}
.cid-ufFCEXcy3N .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ufFCEXcy3N .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ufFCEXcy3N .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-ufFCEXcy3N .item-menu-overlay {
  opacity: 0 !important;
}
.cid-ufFCEXcy3N .mbr-section-title {
  color: #ffffff;
}
.cid-ufFCEXcy3N .mbr-text,
.cid-ufFCEXcy3N .text-wrapper {
  color: #ffffff;
  text-align: center;
}
.cid-ufFCEXcy3N .item-title {
  color: #9aa0a6;
}
.cid-ufFCEXcy3N .item-text {
  color: #ffffff;
}
.cid-ufFCEXcy3N .mbr-section-title,
.cid-ufFCEXcy3N .mbr-section-btn,
.cid-ufFCEXcy3N .logo-wrapper {
  text-align: center;
}
.cid-ufFCEXcy3N .form-control {
  padding: 12px;
  background-color: #0c0f16;
  border: 1px solid #252525 !important;
  box-shadow: none;
  margin-bottom: 20px;
}
.cid-ufFCEXcy3N .form-control::placeholder {
  color: #252525;
}
.cid-ufFCEXcy3N .form-control:hover,
.cid-ufFCEXcy3N .form-control:focus {
  border: 1px solid #0175ff !important;
}
.cid-ufFCEXcy3N LABEL {
  color: #078efb;
}
.cid-v9QPRPvSNB {
  background-color: #000000;
  overflow: hidden;
}
.cid-v9QPRPvSNB::before {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: linear-gradient(90deg, #ff6a00 10%, #ffcd7d 25%, #0175ff 100%);
  filter: blur(150px);
  pointer-events: none;
}
.cid-v9QPRPvSNB::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(transparent 0, #000000 100%);
  pointer-events: none;
}
.cid-v9QPRPvSNB .mbr-fallback-image.disabled {
  display: none;
}
.cid-v9QPRPvSNB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v9QPRPvSNB .content-wrapper {
  position: relative;
  z-index: 1;
}
.cid-v9QPRPvSNB .content-wrapper .label-wrapper .mbr-label {
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  margin-bottom: 10px;
  background-color: #353535;
}
.cid-v9QPRPvSNB .content-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-v9QPRPvSNB .content-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-v9QPRPvSNB .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-v9QPRPvSNB .content-wrapper .mbr-section-btn {
  margin-top: 30px;
}
@media (max-width: 992px) {
  .cid-v9QPRPvSNB .content-wrapper .mbr-section-btn {
    margin-top: 10px;
  }
}
.cid-v9QPRPvSNB .mbr-label,
.cid-v9QPRPvSNB .label-wrapper {
  color: #ffffff;
  text-align: center;
}
.cid-v9QPRPvSNB .mbr-section-title {
  color: #ffffff;
}
.cid-v9QPRPvSNB .mbr-text,
.cid-v9QPRPvSNB .text-wrapper {
  color: #ffffff;
  text-align: center;
}
.cid-v9QPRPvSNB .mbr-section-title,
.cid-v9QPRPvSNB .mbr-section-btn {
  text-align: center;
}
